In [1]:
import pandas as pd
df = pd.read_csv('Students.txt', sep='\t')

cvar_list = ['Last','First','GradTerm','DegreeProgram']
nvar_list = ['ID','GradYear']

for i in cvar_list:
  df[i] = df[i].str.lower()

In [ ]:
#Avoid float 

while True:
  allowed_user_query_type = []
  for i in range(1,3):
    allowed_user_query_type.append(str(i))

  user_query_type = input('What type of data do you want to see? \n1) Detail:   \n2) Summary:\n')
  if user_query_type in allowed_user_query_type:
    #user_query is str
    user_query_type = int(user_query_type)
    break

  else:
    print("\nPlease follow the instruction!! Enter on 1 or 2 \n")

user_query_group = ''
while user_query_type ==2:

  allowed_user_query_group = []
  for i in range(1,7):
    allowed_user_query_group.append(str(i))

  user_query_group = input('What kind of query do you want to group by?\nGive me one feature about the student, chose from below 6 features and enter the number:\n1) ID, 2) Last Name, 3) First Name, 4) Graduation year, 5) Graduating term, 6) Program\n')
  if user_query_group in allowed_user_query_group:
    #user_query is str
    user_query_group = int(user_query_group)
    break

  else:
    
    print("\nPlease follow the instruction!!\n")

In [ ]:
# when user_query_type!=1 , display_user_query_list still need value for input function
display_user_query_list = []
if user_query_type ==1:
  allowed_user_query = []
  for i in range(1,7):
    allowed_user_query.append(str(i))

  display_user_query_str = input("What feature do you want to see?\nChose from below 6 features and enter the number:\n1) ID, 2) Last Name, 3) First Name, 4) Graduation year, 5) Graduating term, 6) Program\nIf you want to see mutltiple features please use ',' to separate")
  display_user_query_list = []
  
  for i in display_user_query_str.split(','):

    #Check whether the input is in our range
    if i.strip() in allowed_user_query:
      #user_query is str
      column_index = int(i.strip())
      user_column = list(df.columns)[column_index-1]
      display_user_query_list.append(user_column)
    
    else:
      print(f"{i} is not in our range!")

  print(display_user_query_list)

What feature do you want to see?
Chose from below 6 features and enter the number:
1) ID, 2) Last Name, 3) First Name, 4) Graduation year, 5) Graduating term, 6) Program
If you want to see mutltiple features please use ',' to separate1,2,3,4
['ID', 'Last', 'First', 'GradYear']

In [ ]:
while True:
  allowed_user_query = []
  for i in range(1,8):
    allowed_user_query.append(str(i))

  user_query = input('Which feature do you want to filter?\nChose from below 6 features and enter the number:\n1) ID, 2) Last Name, 3) First Name, 4) Graduation year, 5) Graduating term, 6) Program, 7) None\n')
  
  if user_query in allowed_user_query:
    #user_query is str
    user_query = int(user_query)
    break

  else:
    print("\nPlease follow the instruction!!\n")

Which feature do you want to filter?
Chose from below 6 features and enter the number:
1) ID, 2) Last Name, 3) First Name, 4) Graduation year, 5) Graduating term, 6) Program, 7) None
1

In [ ]:
#The purpose of this fuction is about quicker revising queries.
#Full version is for numerical with range fuction, short/other is for char.
def get_into_string(feature_name, version='full', option=''):
  
  if version == 'full':
    result= f"""Which Student {feature_name} do you want? 
  {option}
  If you want to search mutltiple {feature_name} please use ',' to separate
  If you want to search all {feature_name} begin with X, please type X% 
  If you want to search all {feature_name} ending with X, please type %X 
  If you want to search all {feature_name} after X, please type >X 
  If you want to search all {feature_name} after or equal to X, please type >=X   
  If you want to search all {feature_name} before X, please type <X 
  If you want to search all {feature_name} before or equal to X, please type <=X   
  If you want to search all {feature_name} between X and Y, please type X~Y \n"""

  else:
    result= f"""Which Student {feature_name} do you want? 
  {option}
  If you want to search mutltiple {feature_name} please use ',' to separate
  If you want to search all {feature_name} begin with X, please type X% 
  If you want to search all {feature_name} ending with X, please type %X \n"""


  return result

In [ ]:
while True:

  if user_query == 1:
    restriction_query = input(get_into_string('ID'))
  if user_query == 2:
    restriction_query = input(get_into_string('Last name', 'brief'))
  if user_query == 3:
    restriction_query = input(get_into_string('First name', 'brief'))
  if user_query == 4:
    restriction_query = input(get_into_string('years'))
  if user_query == 5:
    restriction_query = input(get_into_string('Graduating term', 'brief',"'Spring', 'Fall', 'Summer'"))
  if user_query == 6:
    restriction_query = input(get_into_string('Graduating term', 'brief',"'MBAP', 'MSSD', 'MBAE', 'MSBA', 'MBA', 'MSMM', 'MSM',\n 'MSA', 'MST', 'MSMI', 'MSIT', 'MSGF', 'MSSC'"))
  if user_query == 7:
    print("Since you don't want any restriction, I will provide you all data.")
    restriction_query = None


  if user_query in [2,3,5,6]:
    if '>' in restriction_query or '<' in restriction_query or '~' in restriction_query:
      print("\nPlease follow the instruction!!\n")
    else:
      break
  else: 
    break

Which Student ID do you want?

  If you want to search mutltiple ID please use ',' to separate
  If you want to search all ID begin with X, please type X%
  If you want to search all ID ending with X, please type %X
  If you want to search all ID after X, please type >X
  If you want to search all ID after or equal to X, please type >=X
  If you want to search all ID before X, please type <X
  If you want to search all ID before or equal to X, please type <=X
  If you want to search all ID between X and Y, please type X~Y
101130~ 101540

In [ ]:
#Distinguish the type of query, start with should input str
restriction_query_clean = []
if user_query != 7:  
  user_column = list(df.columns)[user_query-1]


  if '%' in restriction_query:
    if '%' in restriction_query.strip()[0]:
      query_method = 'end_with'
      restriction_query_clean = restriction_query.strip()[1:].strip().lower()

    else:
      query_method = 'begin_with'
      restriction_query_clean = restriction_query.strip()[0:-1].strip().lower()

  elif '>=' in restriction_query:
     query_method = 'larger_equal'
     restriction_query_clean = int(restriction_query.strip()[2:].strip())

  elif '<=' in restriction_query:
    query_method = 'smaller_equal'
    restriction_query_clean = int(restriction_query.strip()[2:].strip())

  elif '>' in restriction_query:
     query_method = 'larger'
     restriction_query_clean = int(restriction_query.strip()[1:].strip())

  elif '<' in restriction_query:
    query_method = 'smaller'
    restriction_query_clean = int(restriction_query.strip()[1:].strip())


  elif '~' in restriction_query:
    query_method = 'between'
    restriction_query_split_temp = restriction_query.split('~')
    restriction_query_clean.append(int(restriction_query_split_temp[0].strip()))
    restriction_query_clean.append(int(restriction_query_split_temp[1].strip()))

  #Transfer the result from string to list
  else:
    query_method = 'list'
    restriction_query_split = restriction_query.split(',')

    #Num and char variables should have different way to transfer 
    for i in restriction_query_split:
      
      # Correct user_column type but wrong 
      try:
        if user_column in nvar_list:
          i = int(i.strip())
        else:
          i = i.strip().lower()

        restriction_query_clean.append(i)

      except:
        print('This is not a number!')

In [ ]:

def query_fuction(user_query, restriction_query_clean, query_method, user_query_type, user_query_group=0, display_user_query_list=None):

  #Display all rows
  pd.set_option('display.max_rows', None)

  if user_query == 7:
    result_df = df

    #If user chose none, we don't need the belowed fuctions
    #return 


  else:
    user_column = list(df.columns)[user_query-1]
        #Slicing: finding truth and then only display it
    if query_method == 'list':
      result_df = df[df[user_column].isin(restriction_query_clean)]    

    elif query_method == 'begin_with':
      result_df = df[df[user_column].str.startswith(restriction_query_clean)]

    elif query_method == 'end_with':
      result_df = df[df[user_column].str.endswith(restriction_query_clean)]

    elif query_method == 'larger_equal':
      result_df = df[df[user_column]>=(restriction_query_clean)]

    elif query_method == 'smaller_equal':
      result_df = df[df[user_column]<=(restriction_query_clean)]

    elif query_method == 'larger':
      result_df = df[df[user_column]>(restriction_query_clean)]

    elif query_method == 'smaller':
      result_df = df[df[user_column]<(restriction_query_clean)]

    elif query_method == 'between':
      result_df = df[df[user_column].between(restriction_query_clean[0],restriction_query_clean[1])]


  if user_query_type == 1:
    print(result_df[display_user_query_list])

  else:       
    group_by_column = list(df.columns)[user_query_group-1]
    sr2 = result_df.groupby(group_by_column).ID.count()
    sr2 = sr2.rename('Count')
    sr3 = (sr2*100)/sr2.sum()
    sr3 = sr3.rename('%')

    df2 = pd.concat([sr2, sr3], axis=1)
    
    # average horsepower per engine type
    print(df2)

In [ ]:
query_fuction(user_query, restriction_query_clean, query_method, user_query_type, user_query_group, display_user_query_list)

        ID        Last      First  GradYear
12  101130     proctor     reagan      2020
13  101140      walker    yesenia      2020
14  101150    fletcher      craig      2021
15  101160       mills    braedon      2021
16  101170        cook      naima      2019
17  101180        cruz       nyla      2019
18  101190     pollard    kaleigh      2020
19  101200      larson    daniela      2019
20  101210     herrera    richard      2019
21  101220     stewart   marshall      2019
22  101230    campbell     amiyah      2020
23  101240       smith   michaela      2021
24  101250       joyce   izabella      2020
25  101260     holland      cyrus      2021
26  101270       sharp     adrian      2020
27  101280      gentry   annalise      2019
28  101290      finley     kelsey      2020
29  101300         fox        gia      2020
30  101310      duarte     steven      2021
31  101320     schultz      jacob      2020
32  101330       wiley      hazel      2019
33  101340   castaneda      ronin      2019
34  101350  villanueva       jace      2020
35  101360       cantu       mara      2019
36  101370       moran       mike      2019
37  101380   singleton      riley      2019
38  101390      baxter    xzavier      2020
39  101400      newman   cristina      2021
40  101410          yu  alejandra      2021
41  101420     bennett       tony      2021
42  101430        pham       alan      2020
43  101440    crawford     emilio      2019
44  101450      melton      abbey      2020
45  101460        diaz   clarissa      2020
46  101470       blake      pedro      2021
47  101480     jimenez    mikayla      2020
48  101490      juarez       myla      2019
49  101500        mayo     jazmyn      2019
50  101510    saunders    ireland      2020
51  101520   henderson      jakob      2019
52  101530      ibarra    melissa      2019
53  101540      jarvis      david      2019